* {
  /* Шрифт по умолчанию */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* Включать ширину рамки в размер блока.
       Иначе при наличии рамки блоки будут "вылезать" в стороны. */
  box-sizing: border-box;
}
.positions-container {
  gap: 12px;
}
.mar {
  margin: 5pt;
}
/* Опускаем подвал к нижней границе страницы,
   растянув main */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.big-checkbox {
  width: 20px;
  height: 20px;
}

main {
  flex: 1;
}

footer {
  font-size: smaller;
}
